<div class="center">
	<div class="panel panel-default">
		<div class="panel panel-heading">
			<%= image_tag @pin.image.url(:xlarge) %>
		</div>

		<div class="panel panel-body">
			<p>
			  <%= @pin.description %>
			</p>
			<p>
			By: <strong><%= @pin.user.try(:name) %></strong>
			</p>

			<div class="actions-show-pin">
				<%= link_to pins_path do %>
	         <span class="glyphicon glyphicon-arrow-left"></span> Back 
	         <% if @pin.user == current_user %>
	          | 
	         <% end %>
	      <% end %>
				<% if current_user && @pin.user == current_user %>
					<%= link_to edit_pin_path(@pin) do %>
	        	<span class="glyphicon glyphicon-edit"></span> Edit |
	        <% end %>
	        <%= link_to @pin, method: :delete, data: { confirm: 'Are you sure?' } do %>
	         <strong class="glyphicon glyphicon-trash"></strong> Delete
	        <% end %>
				<% end %>
			</div>
		</div>
	</div>
</div>